<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		
		<add key="apiURL" value =" https://api.github.com/users/{username}/repos"/>		
		<add key="username" value ="deebaa"/>
		<add key="token" value="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"/>
		<!--<add key="username" value ="jreaganx"/>
		<add key="token" value="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"/>-->
		<!--<add key="username" value ="test"/>
		<add key="token" value=""/>-->
		
	</appSettings>
</configuration>